<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="{{ build_url('balba.css') }}" />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <a href="{{ base_url }}"> {{ title }} </a>
        </li>
      </ul>
    </nav>
    <div class="container" role="document">
      {% block content %} {% endblock %}
    </div>
    <footer>
      <div class="container">
        <small id="copyright-legend">
          © {{ year }}
          <a href="{{ base_url }}">{{ title }}</a>.
        </small>
        <small>
          Powered by
          <a href="https://gitlab.com/zoftko/balba">balba</a>
        </small>
      </div>
    </footer>
  </body>
</html>
